@import 'nib'

@import './01-normalize.styl'

@import './02-fuentes.styl'

body 
	background-color crimson
	font-family 'Roboto-Light'
	color white
	transition all .6s ease
	
h1 
	margin-left 50px	

p 
	color #E0E0E0
	margin-left 50px
